@font-face {
  font-family: "ESTEDAD";
  font-weight: 400;
  src: url("./fonts/Estedad-Regular.woff2");
}
@font-face {
  font-family: "ESTEDAD";
  font-weight: 500;
  src: url("./fonts/Estedad-Medium.woff2");
}
@font-face {
  font-family: "ESTEDAD";
  font-weight: 600;
  src: url("./fonts/Estedad-SemiBold.woff2");
}
@font-face {
  font-family: "ESTEDAD";
  font-weight: 700;
  src: url("./fonts/Estedad-Bold.woff2");
}
@font-face {
  font-family: "ESTEDAD";
  font-weight: 900;
  src: url("./fonts/Estedad-Black.woff2");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 12rem;
  margin: 0;
  font-family: "ESTEDAD", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
